*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
.suo
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
x64/
x86/
build/
bld/
[Oo]bj/
.terraform/

msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

#chromium
.local-chromium/




